[submodule "lib/forge-std"]
	branch = v1.2.0
[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/lib/openzeppelin-contracts"]
	path = contracts/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "lib/openzeppelin-contracts"]
	branch = v4.8.0
[submodule "contracts/lib/protocol"]
	path = contracts/lib/protocol
	url = https://github.com/UMAprotocol/protocol
[submodule "lib/protocol"]
	branch = v1.2.1
